.cards__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
}

.cards__list h1{
  font-weight: 700;
  font-size: 30px;
}


.card_wrap{
  width: 100%;
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.card__wrap--title{
  font-weight: 700;
  font-size: 20px;
}